<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <head th:replace="/layout :: head">
    </head>
<body>
<form action="/products" method="post">
    <h1>Search by name:</h1>
    <input name="name" type="text" placeholder="Input name " maxlength="50px"/>
    <input type="submit" value="Tìm kiếm"/>
</form>

<table id="customers">
    <tr>

        <th>Tên sản phẩm</th>
        <th>Giá</th>
        <th>Danh mục</th>
        <th>Ngày sản xuất</th>
        <th>Mô tả</th>
        <th>Số lượng</th>
        <th>Mua</th>
    </tr>
    <tr th:each="p: ${products}">
        <td th:text="${p.name}"></td>
        <td th:text="${p.price}"></td>
        <td th:text="${p.category.name}"></td>
        <td th:text="${p.dateOfManufacture}"></td>
        <td th:text="${p.description}"></td>
        <td th:text="${p.quantity}"></td>
        <td><a th:href="@{/products/view/{id}(id=${p.id})}" style="background-color: lightcyan">Mua</a></td>
    </tr>
</table>
<center>
    <footer th:replace="/layout :: footer"></footer>
    <h4><a href="/logout">Đăng xuất</a></h4>

</center>
<h4></h4>
</body>
</html>
